/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif ;
}

main{
    width: 100vw;
    height: 80vh;
    background-color: rgba(1,1,0,255);
}


p{
    font-size: 0.8rem;
}

i,p{
    color: rgba(255,254,254,255);
}

.flex-container{
    display: flex;
}

.flex-centered{
    align-items: center;
    justify-content: center;

}

.direction-row{
    flex-direction: row-reverse;
}
.flex-end{
    justify-content: flex-end;
}

.btn{
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
}

.btn-active{
    color: rgba(75,201,1,255);
}
.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.relative{
    position: relative;
}

header section.tools{
    background-color: black;
}

div.setting-view{
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(75,75,74,255);
}

div.setting-view i:first-child{
    font-size: 1rem;
}

div.setting-view > p{
    display: inline-flex;
}

div.users-cam{
    /* flex-wrap: wrap; */
    align-items: center;
    object-fit: fill;
    
}

div.users-cam > img{
    width: 25vh;
} 

div.users-cam > p {
    left:0;
    bottom: 0;
    position: absolute;
    background-color: rgba(96, 112, 124, 0.6);
}

div.users-cam p i:first-of-type{
    font-size: 1.2rem;
}

section.tools{
    width: 100%;
    height: 10vh;
    text-align: center;
    align-items: center;
    background-color: rgba(34,34,34,255);
}

section div i:first-child{
    font-size: 2rem;
}

div.btn-redzone a {
    color: red;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-decoration: none;
    background-color: rgba(75,75,74,255);
}

#users{
    width: 80%;
    height: 90%;
    margin: auto;
    gap: 16px 8px;
    flex-basis: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-direction: row; /* defaoult */
    justify-content: center;
    background-color: rgba(1,1,0,255);
}



