/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif ;
}

p{
    font-size: 0.8rem;
}

i,p{
    color: rgba(255,254,254,255);
}

.flex-container{
    display: flex;
}

.flex-centered{
    justify-content: center;
    align-items: center;
}

.direction-row{
    flex-direction: row-reverse;
}
.flex-end{
    justify-content: flex-end;
}

.btn{
    width: 5rem;
    height: 5rem;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0.5rem;
}

.btn-active{
    color: rgba(75,201,1,255);
}
.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

header section.tools, section.tools > p{
    padding-right: 10px;
}


section.tools{
    width: 100%;
    height: 10vh;
    background-color: rgba(34,34,34,255);
    align-items: center;
    text-align: center;
}

section div i:first-child{
    font-size: 2rem;
}

div.setting-view i:only-child{
    font-size: 1rem;
}

div.btn-redzone a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: rgba(75,75,74,255);
    color: red;
    padding: 2rem;
}


main{
    width: 100vw;
    height: 80vh;
    background-color: rgba(1,1,0,255);
}

#users{
    background-color: rgba(1,1,0,255);
    overflow-y: scroll;
    width: 80%;
    height: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 8px;
    justify-content: center;
}

.users-cam{
    flex-wrap: wrap;
    
}

div.users-cam > img{
    flex-wrap: wrap;

} 

.relative{
    position: relative;
}

.users-cam > p {
    position: absolute;
    bottom: 0;
    left:0;
    background-color: rgba(96, 112, 124, 0.6);
}

.users-cam p i:first-of-type{
    font-size: 1.2rem;
}